<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web Builder of Compilers</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/grammar.js"></script>
    <script src="/js/ruleParse.js"></script>
    <script th:inline="javascript">
        window.admin_INIT = {
            wUser: /*[[${data.wUser}]]*/,
            jobs: /*[[${data.jobs}]]*/ [],
            rulesList: /*[[${data.rulesList}]]*/,
            collsList: /*[[${data.collsList}]]*/,
            dTime: /*[[${data.dTime}]]*/,
            tplName: /*[[${data.tplName}]]*/,
            saveNN: /*[[${data.saveNN}]]*/ false,
            autoS: /*[[${data.autoS}]]*/ "0",
            helP: /*[[${data.helP}]]*/ "0",
            fio: /*[[${data.pw}]]*/ "",
            prefix: "../"
        };
    </script>

    <script src="/js/amain.js" defer></script>

    <script th:inline="javascript">
        try {
            _G = new Grammar();
        } catch (e) {
            window.location = "about:blank";
        }
    </script>
</head>
<body>


<div id="rules" class="div" style="visibility:hidden">
    <div align="center">Правила:</div>
    <table id="tblRules" style="width:99.5%;margin-left:4px">
        <tr>
            <td id="vidR" style="width:50%;cursor:pointer" onclick="colHide()">&nbsp;Видимые/редактируемые</td>
            <td id="factR" style="width:50%;cursor:pointer" onclick="colHide()">&nbsp;Фактические</td>
        </tr>
        <tr>
            <td class="vertAT">
                <table id="rls" class="vertAT">
                    <tr>
                        <td onclick="rulesSort()"><span>Левая часть</span></td>
                        <td onclick="actionsS_H()"><span>Правая часть</span></td>
                    </tr>
                    <tr>
                        <td class="rgt"><span>&nbsp;</span></td>
                        <td><span>&nbsp;</span></td>
                    </tr>
                </table>
            </td>
            <td class="vertAT">
                <table id="rNorm">
                    <tr>
                        <td><span>Левая часть</span></td>
                        <td><span>Правая часть</span></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<div id="mnu" class='div'>
    <div align='center' onmouseover="vJob(true)" onmouseout="vJob(false)">
        <span id="asUser" style='text-decoration:underline;text-align:center;'
              th:text="${data.getWUser()}">&nbspUser</span>
    </div>
    <div align="center" onmouseover="showTime(true)" onmouseout='showTime(false)'>
        <table class="tbc" style="background-color:#040404">
            <tr>
                <td>
                    <div id="flame3" class="circle">&nbsp;</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="flame2" class="circle">&nbsp;</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="flame1" class="circle">&nbsp;</div>
                </td>
            </tr>
        </table>
    </div>
    <div style="font-size:xx-small">&nbsp;</div>
    <div id="expB">Выгрузить базу</div>
    <div id="impB">Загрузить в базу</div>
    <div id="tstB">Проверить базу</div>
    <div id="userP">Пользователи</div>
    <div id="savUP" style="visibility:hidden" class="grSp">&nbsp;Сохранить</div>
    <div id="cDel" class="hid">Удалить колл-ю</div>
    <div>&nbsp;</div>
    <div id="selC">Выбрать</div>
    <div id="opn" th:classappend="${#strings.isEmpty(data.rulesList)} ? ' grSp'"> Открыть</div>
    <div id='rSave' class="hid">Сохранить как:</div>
    <div><input id='rName' type='text' size="11"/></div>
    <div id="conV" class="grSp">Импорт СП</div>
    <div id="rDel" class="hid">Удалить СП</div>
    <div id="bUild">Построить</div>
    <div id="rUn" class="grSp">Запустить</div>
    <div id="vieW" class="grSp">Показать</div>
    <div class="grSp"><span id="dwn">Скачать</span><a id="dwnL" class="hid"
                                                      th:href="@{'/file?filename=' + ${data.getWUser()} + 'translator.txt'}">Скачать</a>&nbsp;
    </div>
    <div id="rClr">Очистить</div>
    <div id="tUne">Настроить</div>
    <div id="hElp">Помочь</div>
    <div id='goOut'>Выйти</div>
</div>

<div id="ext" class="div">
    <span>&nbsp;Расширение для действий в правилах:</span>
    <textarea id="extT" style="width:99%;margin-left:4px"></textarea>
</div>

<div id='cntxt' class='hid'>
    <table id='cMnu' class='bubble'>
        <tr itemprop='d'>
            <td>
                <span>Вырезать</span>
            </td>
        </tr>
        <tr itemprop='c'>
            <td>
                <span>Копировать</span>
            </td>
        </tr>
        <tr itemprop='i'>
            <td>
                <span>Вставить</span><!-- <tr itemprop='a'><td><span>Добавить строку</span> -->
            </td>
        </tr>
        <tr itemprop='a'>
            <td>
                <span>Добавить строку</span>
            </td>
        </tr>
    </table>
</div>

<div id="collOp" class="hid">
    <table id="collL" class="bubble">
        <tr th:each="coll : ${data.collsPreview}">
            <td>
                <span th:text="${coll}">Имя</span>
            </td>
        </tr>
        <tr th:if="${data.hasMore}">
            <td>
                <span>...</span>
            </td>
        </tr>
    </table>
</div>



<!-- rulesList not collsList th:utext="${data.rulesList}"-->
<div id="opR" class="hid">
    <table id="opRules" class="bubble">
        <tr class="coll" th:if="${data.sampleRules}">
            <td>
                <span>Samples:</span>
            </td>
        </tr>
        <tr th:each="rule: ${data.sampleRules}">
            <td>
                &nbsp;<span th:text="${rule}"></span>
            </td>
        </tr>
        <tr th:if="${data.sampleRules.size() > 0}">
            <td style="font-size:xx-small">&nbsp;</td>
        </tr>

        <tr class="coll">
            <td>
                <span th:text="${data.getWUser()} + ':'"></span>
            </td>
        </tr>
        <tr th:each="rule: ${data.userRules}">
            <td>
                &nbsp;<span th:text="${rule == 'noName' ? '  ' : rule}"></span>
            </td>
        </tr>
    </table>
</div>

<div id="forV" class="hid">
    <table id="vCase" class="bubble">
        <tr what="0">
            <td>&nbsp;Код транслятора&nbsp;</td>
        </tr>
        <tr what="1">
            <td>&nbsp;Сканер, управляемый таблицей&nbsp;</td>
        </tr>
        <tr what="2">
            <td>&nbsp;Сканер, управляемый графом&nbsp;</td>
        </tr>
        <tr what="9">
            <td>&nbsp;Правила грамматики&nbsp;</td>
        </tr>
        <tr what="11">
            <td>&nbsp;Множества предшественников&nbsp;</td>
        </tr>
        <tr what="12">
            <td>&nbsp;Множества последователей&nbsp;</td>
        </tr>
        <tr what="13">
            <td>&nbsp;Множества выбора правил&nbsp;</td>
        </tr>
        <tr what="14">
            <td>&nbsp;Нисходящий парсер с одним состоянием&nbsp;</td>
        </tr>
        <tr what="15">
            <td>&nbsp;Нисходящий парсер с несколькими состояниями&nbsp;</td>
        </tr>
        <tr what="16">
            <td>&nbsp;Восходящий парсер&nbsp;</td>
        </tr>
        <tr what="17">
            <td>&nbsp;Расширенные конфигурации&nbsp;</td>
        </tr>
        <tr what="18">
            <td>&nbsp;Канонические конфигурации&nbsp;</td>
        </tr>
    </table>
</div>

<div id="resB" class="divb"></div>
<div id="any" class="div"></div>

<div id="tunE" class="div" style="display:none">
    <div style="margin-left:10px" >

        <div th:object="${data}">
            <p>Инструментальный язык программирования транслятора:</p>
            <table class="tb">
                <tr th:each="opt,iterStat : *{languages}" class="tb">
                    <td class="tb"
                        th:attr="tList=${opt}"
                        th:onclick="|langChng()|">
                        <input type="radio"
                               name="lang"
                               th:id="${'L_' + (iterStat.index+1)}"
                               th:value="${opt.id}"
                               th:checked="${opt.selected}"
                               th:disabled="${opt.disabled}"/>
                        <label th:for="${'L_' + (iterStat.index+1)}"
                               th:text="${opt.label}">Label</label>
                    </td>
                </tr>
            </table>
        </div>

        <div th:object="${data}">
            <p>Вариант построения сканера:</p>
            <table class="tb">
                <tr class="tb" th:each="opt,iterStat : *{scanners}" >
                    <td class="tb"
                        th:attr="tList=${opt}"
                        th:onclick="|tplChng()|">
                        <input type="radio"
                               th:field="*{scanner}"
                               th:value="${opt.id}"
                               th:id="${'s_' + (iterStat.index+1)}"/>
                        <label th:for="${'s_' + (iterStat.index+1)}"
                               th:text="${opt.label}">Label</label>
                    </td>
                </tr>
            </table>
        </div>


        <div th:object="${data}">
            <p>Вариант построения парсера:</p>
            <table class="tb">
                <tr class="tb" th:each="opt,iterStat : *{parsers}" >
                    <td class="tb"
                        th:attr="tList=${opt}"
                        th:onclick="|tplChng()|">
                        <input type="radio"
                               th:field="*{parser}"
                               th:value="${opt.id}"
                               th:id="${'p_' + (iterStat.index+1)}"/>
                        <label th:for="${'p_' + (iterStat.index+1)}"
                               th:text="${opt.label}">Label</label>
                    </td>
                </tr>
            </table>
        </div>
        </table>

        <p><strong>Автосохранение системы правил:</strong></p>
        <table class="tb">
            <tr class="tb">
                <td class="tb">
                    <input type="checkbox"
                           id="saveNN"
                           th:checked="${data.saveNN}"/>
                    <label for="saveNN">
                        Разрешить автосохранение безымянной системы правил
                    </label>
                </td>
            </tr>
            <tr class="tb" th:each="val : ${#numbers.sequence(0,4)}">
                <td class="tb"
                    th:switch="${val}">
                    <input type="radio"
                           name="asav"
                           th:id="${'autoS' + val}"
                           th:value="${val}"
                           th:checked="${data.autoS == val}"/>
                    <label th:case="1">Сохранять перед построением сканера и парсера</label>
                    <label th:case="2">Сохранять при выходе</label>
                    <label th:case="3">Сохранять за 2 мин. до окончания сессии</label>
                    <label th:case="4">Сохранять при любом изменении</label>
                    <label th:case="0">Не выполнять автосохранение</label>
                </td>
            </tr>
        </table>
        <p>
            <strong>Длительность интервала времени показа сообщения (ms):</strong>
            <input type="text"
                   id="deltaT"
                   size="4"
                   th:value="${data.dTime}"/>
        </p>

        <!-- Способ показа справки -->
        <p><strong>Открывать справку:</strong></p>
        <table class="tb">
            <tr class="tb">
                <td class="tb">
                    <input type="radio"
                           name="hlp"
                           id="hlp1"
                           value="1"
                           th:checked="${data.helP == '1'}"/>
                    <label for="hlp1">
                        в правой панели основного окна
                    </label>
                </td>
            </tr>
            <tr class="tb">
                <td class="tb">
                    <input type="radio"
                           name="hlp"
                           id="hlp0"
                           value="0"
                           th:checked="${data.helP == '0'}"/>
                    <label for="hlp0">
                        в новой вкладке/окне
                    </label>
                </td>
            </tr>
        </table>

        <button type="button" onclick="tuneSave()">Применить</button>
    </div>
</div>


<textarea id="codT" class="hid"></textarea>
<iframe id="iFr" class="hid"></iframe>
<div id='viewT' class='hid' style='font-size:large;color:brown'></div>
<div id="dJob" class="hid" asUser="">
    <table id="tJob" style="background-color:lightcyan">
        <tr>
            <td>
            </td>
        </tr>
    </table>
</div>
<div id="impC" class="div"><span style='cursor:pointer;text-decoration: underline' onclick='incA();'>Включать все</span>
    <span>&nbsp;&nbsp;</span><span style='cursor:pointer;text-decoration: underline'
                                   onclick='decA();'>Исключить все</span>
    <div>При совпадении имен коллекций: <input type='radio' name='Imp' id='imp1'><label for='imp1'>Не загружать</label>
        <input type='radio' name='Imp' id='imp2'><label for='imp2'>Загружать отсутствующие СП</label>
        <input type='radio' name='Imp' id='imp3'><label for='imp3'>Загружать все СП</label>
        <input type='radio' name='Imp' id='imp4'><label for='imp4'>Добавить суффикс к имени коллекции:</label>
        <input id='preF' type='text' size='1'> <input type='button' value=Выполнить onclick='execImp();'></div>
</div>
<div id="tstD" class="div">&nbsp;<span style='cursor:pointer;text-decoration: underline' onclick='decA();'>Вычеркнуть все</span>
    <span>&nbsp;&nbsp;</span><span style='cursor:pointer;text-decoration: underline'
                                   onclick='incA();'>Восстановить все</span>&nbsp;
    <input type='button' value="Удалить вычеркнутые" onclick='execDels();'></div>


</body>
</html>
