<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript">
onload=function(){
setTimeout("document.getElementById('w').style.display='block'",5000);
window.location="/auth/login";
}
</script>
</head>
    <body>
    <div id='w' style='display:none'>Если Вы видите этот текст, то сервер пакета 'Web Builder of Compilers' недоступен. Обратитесь к администратору сайта. </div>
    </body>
</html>
